 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 25px;
 }
 
 fieldset {
     border: none;
 }
 
 sup {
     color: red;
 }
 
 hr {
     border-top: 1px dotted black;
 }
 
 #sav {
     padding: 18px 140px 10px 10px;
     margin: 10px 10px 10px 0;
     border: 2px solid darkred;
     font-size: 20px;
 }
 
 #tel {
     padding: 18px 40px 10px 10px;
     margin: 10px 5px 10px 0;
     font-size: 20px;
 }
 
 #telsav {
     padding: 18px 35px 10px 10px;
     margin: 10px 10px 10px 0;
     border: 2px solid darkred;
     font-size: 20px;
 }
 
 #ir {
     padding: 18px 35px 10px 10px;
     margin: 10px 10px 10px 0;
     font-size: 20px;
 }
 
 #varos {
     padding: 18px 394px 10px 10px;
     margin: 10px 10px 10px 0;
     font-size: 20px;
 }
 
 #orszag {
     padding: 18px 130px 10px 10px;
     margin: 10px 10px 10px 0;
     font-size: 20px;
 }
 
 #cim {
     padding: 18px 260px 10px 10px;
     margin: 10px 10px 10px 0;
     font-size: 20px;
 }
 
 #save {
     text-align: center;
     background-color: green;
     color: white;
     border: none;
     font-size: 25px;
     font-weight: bold;
     padding: 0;
     line-height: 50px;
     width: 823px;
 }